{% extends 'base.html' %}

    {% block content %}
<main class="container py-5">
    <section class="card card-body">
        <p> Bienvenido!, este proyecto trata de un To-do app para crear tareas, listarlas, eliminarlas y actualizarlas utilizando como base Django, esta es mi primera app guiada ya que se trata de un tutorial visto en el canal de fazt. por otra parte muchas gracias por visitar este sitio hecho con amor por su creador</p>
        <a class="btn btn-primary" href="https://youtu.be/e6PkGDH4wWA">Link del tutorial</a>
    </section>
</main>
    {% endblock%}
