{% extends 'base.html' %}
{% block content %}
    <form class="card card-body" method="post" action="">
        {% csrf_token %}
        <h1> {{ error }} </h1>
        <label for="username">Nombre:</label>
        <input type="text" id="username" name="username">
        <br></br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password">
        <br></br>
        <input class="btn btn-primary" type="submit" value="Sign In">
    </form>

    {% endblock %}
</body>

</html>